{% extends "base.html" %}
{% block css %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      html {
		  font-size: 14px;
		}
		@media (min-width: 768px) {
		  html {
		    font-size: 16px;
		  }
		}

		.container {
		  max-width: 960px;
		}

		.card-deck .card {
		  min-width: 220px;
		}
    </style>
{% endblock css %}

{% block content %}
<div class="container mt-5">
  <div class="card-deck mb-3 text-center">
  	{% for plan in plans %}
	    <div class="card mb-4 shadow-sm">
	      <div class="card-header">
	        <h4 class="my-0 font-weight-normal">{{ plan.plan }}</h4>
	      </div>
	      <div class="card-body">
	        <ul class="list-unstyled mt-3 mb-4">
	          <li><b>Status Creation allowed :</b> {{ plan.status }}</li>
	          <li><b>Comments Creation allowed :</b>{{ plan.comments }}</li>
	          <li><b>Likes Creation allowed :</b>{{ plan.likes }}</li>
	        </ul>
	        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up</button>
	      </div>
	    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}